// Specific CSS for your home-page
.header {
  position: relative;
  background-position: center;
  background-size: cover;
  height: 300px;
  color: #eee;
}

.header-text {
  position: absolute;
  bottom: 60px;
  left: 8px;
  color: white;
  font-size: 20px;
}

.header-text h1 {
  position: absolute;
  bottom: 50px;
  font-family: 'Anton', sans-serif;
  // font-family: 'Comfortaa', cursive;
  text-size: 200px;
}

.home-bottom {
  background-color:white;
  // position: absolute;
  border-radius: 18px;
  width: 100%;
  // padding: 40px;
  // padding-top: 60px;
  z-index: 1000;
  // top: 280px;
}

.home-call {
  text-align: center;
  // border: solid;
}

.sign-up {
  margin: 20px 140px 20px;
}

.home-trend {
  font-family: 'Anton', sans-serif;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 2px;
  left: 12px;
  color: white;
  // font-size: 5px;
}

.carousel-height {
  height: 260px;
}

.home-icon {
  width: 30px;
  height: 30px;
}

.modal-header {
  background-color: #f2d3bc;
  color: white;
  font-weight: bold;
  h5 {
    font-family: 'Anton', sans-serif;
  }
}

.modal-title {
  text-align: center;
  width: 100%;
  font-family: 'Anton', sans-serif;
}

.modal-dialog{
  border-radius: 50px;
}
