<div class="container">
  <div class="row">
    <% @outfits.each do |outfit| %>
      <div class="col-sm-12">
        <div class="card">
          <% if outfit.photo.attached? %>
            <%= cl_image_tag outfit.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-body"><%= outfit.brand %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
