<div class="col-sm-4">
  <div class="card">
    <div class="card-body"><%= @outfit.brand %></div>
  </div>
</div>


<%= link_to "bin", outfit_path(@outfit), method: :delete, data: { confirm: "Are you sure?" } %>
