<footer>
  <div class="list-footer">
    <ul class="d-flex justify-content-around">
      <li>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li>
        <a href="outfits">
          <i class="fas fa-poll"></i>
      </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-plus-circle"></i>
      </a>
      </li>
      <li>
        <a href="">
          <i class="fas fa-user-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
