<footer>
  <ul class="d-flex justify-content-around">
    <li>
      <i class="fas fa-home"></i>
    </li>
    <li>
      <i class="fas fa-plus-circle"></i>
    </li>
    <li>
      <i class="fas fa-user-circle"></i>
    </li>
  </ul>
</footer>
