<div class="navbar1">
  <div>
    <h5 class='nav-font'>Shoes-Me</h5>
  </div>
  <div>
    <% if user_signed_in? #&& current_page?(user_path(current_user)) %>
      <div class="user-setting btn-group dropleft dropdown-options mr-3">
        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag 'menu.png' %>
        </a>
        <div class="dropdown-menu">
          <%= link_to "Edit profile", edit_user_registration_path, class: 'edit-user mb-2' %>
          <%= link_to "Log out", destroy_user_session_path, class:'logout mb-2', method: :delete %>
          <%= link_to "About Us", about_path, class: 'logout' %>
        </div>
      </div>
    <% else %>
    <% end %>
  </div>
</div>

