<div class="Shoe-Card">
  <div class="Shoe-Card-Info">
    <div class="Shoe-Card-Photo" style="background-image:  ">
      <div class="Shoe-Card-Rating"></div>
     <!--  #where is this looking for instance variable @shoe to? which controller? -->
     <!-- # should be set up under shoes view - awaiting -->
      <%= shoe.brand %>
      <!-- # possible to link to external web => scraping -->
     <!--  <%#= link_to , "Buy Me",  %> -->
      <!-- # possible to incorporate price below from scraping? -->
      <div src="" class="Shoe-Card-Splash"></div>
    </div>
  </div>
</div>






