<h1>Shoes-Me</h1>
<%= link_to "Get one now!", class: "btn-blue" %>

<%=  %>
<h3>Upload Photo</h3>

<%=  %>
<h3>Vote</h3>

<p>Need help picking the right pair? We'll help you choose a new pair or our user will cast their votes on yours!</p>
