.blue-btn {
  background-color: white;
  padding: 5px 20px;
  color: black;
  border: solid black;
}

 .special {
    box-shadow: 4px 6px lightgrey;
  }

 .edit-user {
  display: block;
  text-align: center;
  // border: solid;
  background-color: white;
  color: black;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid;

}

.home-btn {
  padding: 5px 55px;
}

.logout {
  display: block;
  text-align: center;
  color: black;
  opacity: 0.5;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
}
