footer {
  background-color: #f2d3bc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  list-style: none;
  z-index: 2000;
  padding-top: 16px;
}

footer ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

footer img {
  width: 30px;
  height: 30px;
}

.min-h-100 {
  min-height: calc(100vh - 72px);
  margin-bottom: 75px;
}

.current-path {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.other-path {
  opacity: 0.55;
}

.login-footer {
  text-decoration: none;
  color: black;
  // border: black;
}
