.Shoe_Card {
  background-color:   ;
  border-radius:  ;
  box-shadow:  ;
  padding:  ;
}


.Shoe-Card-Info {
  display: flex;
}


.Shoe-Card-Photo {
  height: 180px;
  width: 180px;
  background-size: cover;
  background-position: center;
}


.Shoe-Card-Rating {
  display: flex;
}
