.user-show-page img {
  width: 30px;
  height: 30px;
}

.top-bar {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 3px;
  background-color: rgba(196,196,196,0.37);
  h5 {
    margin-bottom: 0;
    font-size: 1rem;
  }
  p {
    margin-bottom: 0;
  }
}

.outfit-user-card {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  // display: flex;
  // align-items: flex-start;
  // justify-content: space-between;
  // height: calc(100vw - 8px);
  margin-bottom: 12px;
}

.fcen {
  display: flex;
  justify-content: center;
  padding: 12px 0;
}
.btn {
  border-radius: 8px;
}

.outfit {
  position: relative;
  margin: 3px;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.likes {
  position: absolute;
  top: 8px;
  right: 8px;
}

.f-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 3px;
}


.nav-link {
  display: block;
  text-align: center;
  opacity: 0.5;
  &.active {
    opacity: 1
  }
}

.nav-tabs {
  display: flex;
  justify-content: space-between;
}

.wish-shoe {
  margin: 8px;
  width: -webkit-fill-available;
}

.buy-now {
  position: absolute;
  top: 4px;
  left: 240px;
}