<div class="container mb-5">
  <div class="row">
    <div class="offset-sm-4 col-sm-4">
      <h1>Editing a shoes</h1>
      <%= render "form", outfit: @outfit, shoe: @shoe %>
    </div>
  </div>
</div>
